body {
  min-height: 100vh;
  background: linear-gradient(#090909, #4c4848);
}

nav {
  display: flex;
  padding: 8vw 8vw 3vw 4vw;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 8vw;
  background: linear-gradient(90deg, #ca402e, #72210f, #ca402e);
  background-clip: text;
  color: transparent;
}

.menu-burger-button {
  cursor: pointer;
  width: 7vw;
}

.suggestion-section {
  padding: 4vw;
}

.intro-sentence {
  font-size: 4.5vw;
  color: #fbfbfb;
}

.intro-sentence > span {
  color: var(--secondary-color);
}

.home-searchbar {
  width: 90%;
  margin: 8vw auto;
}

.tendance-title {
  font-size: 5vw;
  color: white;
  margin-left: 5vw;
  margin-bottom: 5vw;
}

.tendance-grid {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 11%;
  gap: 5%;
}

.pagination {
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9f9f9;
  margin-top: 5vw;
}

.previous-button,
.next-button {
  background-color: var(--secondary-color);
  border: none;
  padding: 0.5vw 1vw;
  border-radius: 2vw;
  color: #f9f9f9;
}

.empty-list-text {
  width: 100%;
  color: #f9f9f9;
  text-align: center;
  margin-left: -5.5%;
  margin-top: 5vw;
  font-size: 4vw;
}

footer {
  font-size: 3vw;
}

footer button {
  font-size: 2vw;
}

@media screen and (width > 550px) {
  nav {
    padding: 4vw 8vw 3vw 4vw;
  }

  .site-title {
    font-size: 6vw;
  }

  .menu-burger-button {
    width: 5vw;
  }

  .intro-sentence {
    font-size: 3vw;
  }

  .tendance {
    margin-top: 6vw;
    margin-left: 5vw;
  }

  .tendance-title {
    font-size: 3vw;
  }

  .empty-list-text {
    font-size: 3vw;
  }

  footer {
    font-size: 2vw;
  }

  footer button {
    font-size: 1vw;
  }
}

@media screen and (width > 800px) {
  .site-title {
    font-size: 5vw;
  }

  .menu-burger-button {
    width: 4vw;
  }

  .intro-sentence {
    margin-left: 1vw;
    font-size: 2.5vw;
  }

  .home-searchbar {
    width: 80%;
    margin: 5vw auto;
  }

  .tendance {
    margin-left: 4vw;
  }

  .tendance-title {
    font-size: 2vw;
    color: white;
    margin-left: 5vw;
    margin-bottom: 3vw;
  }

  .empty-list-text {
    font-size: 2vw;
  }

  footer {
    font-size: 1.5vw;
  }

  footer button {
    font-size: 2.5vw;
  }
}
