.mini-card {
  width: 35vw;
  color: var(--text-color);
  border-radius: 1vw;
  overflow: hidden;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mini-card > img {
  width: 100%;
  margin-bottom: 1vw;
}

.mini-card > h2 {
  font-size: 4vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
}

.description > p {
  font-size: 3vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
}

@media screen and (width > 600px) {
  .mini-card {
    width: 21vw;
    margin-bottom: 1vw;
  }

  .mini-card > img {
    margin-bottom: 0.5vw;
  }

  .mini-card > h2 {
    font-size: 2.5vw;
    margin-bottom: 1vw;
  }

  .description > p {
    font-size: 2vw;
    margin-bottom: 2vw;
    margin-left: 1vw;
  }
}

@media screen and (width > 900px) {
  .mini-card {
    width: 15vw;
  }

  .mini-card > h2 {
    font-size: 1.5vw;
    margin-bottom: 0.6vw;
  }

  .description > p {
    font-size: 1vw;
    margin-bottom: 2vw;
  }
}
