@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --secondary-color: #cb3d2a;
  --primary-color: linear-gradient(#090909, #4c4848);
  --black-color: black;
  --text-color: #dbd8d8;
  --button-color: #2e3034;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  
}
